body
{
	font-size: 24pt;
	font-size: 3.6vm;
	font-size: 3.6vmin;
}

/* font sizes */
p.heading
{
	font-size: 32pt;
	font-size: 4.4vm;
	font-size: 4.4vmin;
	text-align: center;
}

span.par
{
	font-size: 26pt;
	font-size: 3.8vm;
	font-size: 3.8vmin;
}

.tagline
{
	font-size: 28pt;
	font-size: 4vm;
	font-size: 4vmin;
	color: #263238;
	opacity: 1;
}

.sub-dl-btn
{
	display: block;
	margin: 0;
	font-family: OpenRegular;
	font-size: 24pt;
	font-size: 3.6vm;
	font-size: 3.6vmin;
	margin-bottom: 7%;
	margin-top: 5%;
}

img#kalido-01
{
	width: 60%;
}

#copy-4
{
	text-align: center;
}

.section
{
	background-color: #00272B;
}

.dark
{
	background-color: #FFFFFF;
}

#home
{
	position: relative;
	width: 100%;
	background-image: url('../img/home/page-2.svg');
}

.padded
{
	margin-top: 10%;
	margin-bottom: 10%;
}

.logo-mobile
{
	position: relative;
	margin-top: 7%;
	max-width: 60%;
	max-height: 15%;
}

div#home-floor
{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 16%;
	background-color: #FFED59;
	z-index: 3;
}

div#home-path
{
	position: absolute;
	bottom: 7%;
	width: 100%;
	height: 6%;
	background-color: #4DB6AC;
	z-index: 4;
}

img#home-char
{
	position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	width: 50%;
	max-height: 48%;
	z-index: 10;
}

img#home-tree-left
{
	position: absolute;
	bottom: 13%;
	right: 80%;
	height: 40%;
	z-index: 5;
}

img#home-tree-right
{
	position: absolute;
	bottom: 13%;
	left: 80%;
	height: 40%;
	z-index: 5;
}

img#home-city
{
	position: absolute;
	width: 100%;
	max-height: 50%;
	bottom: 15%;
	z-index: 1;
	left: 0;
	right: 0;
	margin: auto;
}

img#home-mountains
{
	position: absolute;
	width: 100%;
	max-height: 60%;
	bottom: 15%;
	z-index: 1;
	left: 0;
	right: 0;
	margin: auto;
}