body
{
	font-size: 30pt;
	font-size: 3vm;
	font-size: 3vmin;
}

/* font sizes */
p.heading
{
	font-size: 60pt;
	font-size: 6vm;
	font-size: 6vmin;
	display: block;   
    margin-top:5%;
   	/*margin-bottom:2%;
    margin-right:8%;*/
}
div#menu{
	height: 15vw;
	
}
#logo{
	vertical-align: middle;
	width: 40%;
    display: block;
   	margin-top:4%;
   	margin-bottom:3%;
   	margin-left:8%;


}
.faq-div
{
	vertical-align: middle;
	text-align: center;
	height: 15%;
	

}
#faq-nav{
	font-size: 35pt;
	font-size: 3.5vm;
	font-size: 3.5vmin;

	margin-left: 1%;
	margin-right: 1%;
	padding: 0;
	text-align: center;

}
li.faq-option{
	vertical-align: middle;
	margin-top: 1%;
	margin-bottom: 1%;
	margin-left:1%;
	margin-right:1%;
	
}

p.stronger
{
	font-size: 35pt;
	font-size: 3.5vm;
	font-size: 3.5vmin;


}
p.info
{
	font-size: 30pt;
	font-size: 3vm;
	font-size: 3vmin;
}

div.footer
{
	height: 14vw;
}

p#copy-text
{
	font-size: 35pt;
	font-size: 3.5vm;
	font-size: 3.5vmin;
	vertical-align: middle;
	margin: 2%;
	margin-top: 5%;
}