html, body
{
	margin: 0;
	padding: 0;
	background-color: #FFFFFF;
}
@font-face
{
	font-family: OpenLight;
	src: url("../fonts/OpenSans-Light.ttf");
}

@font-face
{
	font-family: OpenRegular;
	src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face
{
	font-family: NexaLight;
	src: url("../fonts/Nexa-Light.otf");
}

div#menu
{
	width: 100%;
	height: 6vw;
	background-color: #00272B;
	display: block;
	
}

#logo{
	width: 10%;
    float: left;
   	margin-top:2%;
   	margin-bottom:2%;
   	margin-left:10%;


}
p.heading{
	vertical-align: middle;
	font-family: NexaLight;
	font-size: 16pt;
	font-size: 1.4vw;
	font-size: 1.4vmax;
	letter-spacing: 2pt;
	letter-spacing: 0.2vw;
	letter-spacing: 0.2vmax;
	color: white;
	float: right;    
    margin:2%;
    margin-right:10%;

}

#faq{

	margin-left: 10%;
	margin-right: 20%;
	margin-bottom: 5%;
	margin-top: 5%;
}

li.faq-option
{
	display: inline-block;
	margin: 1%;
}
.selected{
	color: #00272B;
}
.faq-div
{
	width: 100%;
	display: block;
	background-color: #ECEFF1;
	margin: 0;
	padding: 0;

}
#faq-nav
{
	font-family: OpenRegular;
	margin: 0;
	padding: 0;
	margin-left:9%;
	color: #90A4AE;
	font-size: 14pt;
	font-size: 1vw;
	font-size: 1vmax;
}
a
{
	color: inherit;
	text-decoration: none;
}
p{
	margin: 0;
	padding: 0;

}
p.stronger
{
	font-family: OpenRegular;
	font-size: 17pt;
	font-size: 1.5vw;
	font-size: 1.5vmax;


}
p.info
{
	font-family: OpenLight;
	font-size: 12pt;
	font-size: 1vw;
	font-size: 1vmax;
}

/* ---- footer ----*/

div.footer
{
	font-family: OpenRegular;
	background-color: #00272B;
	width: 100%;
	height: 20%;
	text-align: center;
	vertical-align: middle;
	display: block;
}

p#copy-text
{
	color: #607d8b;
	font-size: 11pt;
	font-size: 1.5vm;
	font-size: 1.5vmin;
	margin: 0 auto;
	padding: 1%;

}

/* --- Arrows --- */
.fp-controlArrow, .fp-controlArrow.fp-prev, .fp-controlArrow.fp-next{
	opacity: 0;
}
