div.sub-menu-mobile
{
	position: fixed;
	top: 15%;
	height: 85%;
	width: 100%;
	text-align: center;
	z-index: 100;
	background-color: #00272B;
	color: #90A4AE;
}

ul#nav-mobile
{
	height: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	vertical-align: middle;
	font-size: 0;
}

li.nav-opt-mobile
{
	display: table;
	width: 100%;
	height: 14%;
	font-size: 12pt;
	font-size: 1.2vw;
}

a.sub-mobile
{
	display: table-cell;
	vertical-align: middle;
	font-family: OpenRegular;
	color: #B0BEC5;
}

.active-nav-mobile
{
	background-color: #26A69A;
	color: #00272B;
}