p
{
	margin: 0;
}

a
{
	cursor: pointer;
}

.hidden
{
	display: none !important;
}

div#nav-container
{
	display: none;
}

a.faq-mailto:link
{
	color: #FF9100;
}

a.faq-mailto:visited
{
	color: #FF9100;
}

ul.faq-list
{
	list-style-type: initial;
	width: 95%;
	margin: 2% 0 2% 5%;
}

ul.faq-list li
{
	padding-left: 2%;
}

div#support-container
{
	background-image: url(../img/photo/support.jpg);
	background-attachment: fixed;
}

div#support-inner
{
	padding: 4% 0 4% 0;
}

/* FAQ Container */
div#faq-page-container
{
	/* Blue Grey 500 */
	color: #607D8B;
	background-color: #FAFAFA;
}

div#faq-page-inner
{
	width: 80%;
	margin: 0 auto;
	padding: 5% 0 8% 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

div.faq-card
{
	display: block;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 3px rgba(0,0,0,0.12);
	background-color: #FFF;
}

/* Page */
div#faq-page-card
{
	width: 75%;
}

p.faq-heading
{
	width: 84%;
	font-size: 20pt;
	margin: 0 8%;
	padding: 4% 0 2% 0;
	color: #263238;
}

div.faq-section
{
	border-bottom: 1px solid #FAFAFA;
}

div.faq-section:last-child
{
	border: none;
	padding-bottom: 4%;
}

div.faq-sub-heading
{
	margin: 2% 0 2% 8%;
	display: inline-block;
	font-size: 16pt;
	width: 84%;
	overflow-wrap: break-word;
	color: #263238;
}

div.faq-question
{
	margin: 2% 0;
}

a.acc-link
{
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

a.acc-link > img
{
	display: inline-block;
	width: 3%;
	margin: 0 2.5%;
}

a.acc-link > p
{
	display: inline-block;
	font-size: 16pt;
	width: 84%;
	overflow-wrap: break-word;
	color: #263238;
}

div.faq-answer
{
	display: none;
	width: 84%;
	margin-left: 8%;
	padding: 2% 0 2% 0;
	font-size: 14pt;
	border-top: 1px solid #FAFAFA;
	line-height: 2;
}

div.faq-answer.open
{
	display: block;
}

/* Navigation */
div#faq-nav-card
{
	width: 24%;
	margin-left: 1%;
	-webkit-align-self: flex-start;
	align-self: flex-start;
}

li.faq-nav-li
{
	border-bottom: 1px solid #FAFAFA;
}

span.faq-nav-tab
{
	display: inline-block;
	width: 2%;
	padding: 5% 0;
	background-color: #ECEFF1;
}

/* Selected */
li.faq-nav-li.active > span
{
	background-color: #37474F;
}

li.faq-nav-li.active > a
{
	color: #37474F;
}

li.faq-sub-li.active > a
{
	color: #78909C;
}

a.faq-nav-link
{
	display: inline-block;
	width: 82%;
	padding: 5% 8%;
	font-size: 12pt;
	color: #B0BEC5;
}

a.faq-nav-link:visited
{
	color: #B0BEC5;
}

a.faq-nav-link:active
{
	color: #B0BEC5;
}

/* Sub-Navigation */
a.faq-sub-link
{
	display: inline-block;
	width: 80%;
	padding: 4% 10%;
	font-size: 12pt;
	color: #B0BEC5;
}

p.copyright
{
	padding: 2% 0 2% 0;
}

/*** Responsive ***/
@media only screen
and (max-width: 1200px)
{
	div#nav-container
	{
		display: block;
	}

	div#faq-nav-card
	{
		display: none;
	}

	div#faq-page-container
	{
		background-color: #FFF;
	}

	div#faq-page-inner
	{
		padding: 3% 0 5% 0;
	}

	div#faq-page-card
	{
		width: 100%;
		box-shadow: none;
	}

	p.faq-heading
	{
		width: 100%;
		margin: 0;
	}

	div.faq-question
	{
		margin: 4% 0;
	}

	a.acc-link > img
	{
		width: 4%;
		margin: 0 2% 0 0;
	}

	a.acc-link > p
	{
		width: 94%;
	}

	div.faq-answer
	{
		width: 94%;
		margin-left: 6%;
		padding: 4% 0 4% 0;
	}
}

/*** Mobile Portrait ***/
@media only screen
and (max-device-width: 992px)
and (orientation: portrait)
{
	p.faq-heading
	{
		font-size: 16pt;
		font-size: 5.7vw;
	}

	div.faq-question
	{
		margin: 8% 0;
	}

	a.acc-link > img
	{
		width: 6%;
		margin-right: 4%;
	}

	a.acc-link > p
	{
		width: 90%;
		font-size: 12pt;
		font-size: 4.2vw;
	}

	div.faq-answer
	{
		width: 90%;
		margin-left: 10%;
		font-size: 10pt;
		font-size: 3.6vw;
		padding: 8% 0 8% 0;
	}
}

/*** Mobile Landscsape ***/
@media only screen
and (max-device-width: 992px)
and (orientation: landscape)
{
	p.faq-heading
	{
		font-size: 16pt;
		font-size: 3.2vw;
	}

	a.acc-link > p
	{
		font-size: 12pt;
		font-size: 2.4vw;
	}

	div.faq-answer
	{
		font-size: 10pt;
		font-size: 2vw;
	}
}
